.image-container {
  height: 450px;
  width: 300px;
}

.movie-body {
  color: #bdcdcd;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 400; 
}

.movie-card {
  position: relative;
}

.movie-info {
  color: #bdcdcd;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.movie-poster:hover {
  box-shadow: #eaffea 0px 0px 20px 5px;
  cursor: pointer;
}

.movie-title {
  color: #bdcdcd;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}
.star-icon {
  bottom: 404px;
  height: 40px;
  left: 252px;
  margin: 2px;
  position: absolute;
  top: 4px;
  width: 40px;
}

.fav-star-icon {
  background-color: rgb(255, 255, 255);
  border: solid 2px white;
  bottom: 404px;
  height: 40px;
  margin: 2px;
  width: 40px;
}
