<<<<<<< HEAD
.movie-poster:hover {
  box-shadow: #eaffea 0px 0px 20px 5px;
  cursor: pointer;
}

.movie-title {
  color: #bdcdcd;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}
=======
.star-icon {
  background-color: rgba(190, 180, 126, 0.8);
  border: solid 2px #c72931;
  bottom: 404px;
  height: 40px;
  left: 63%;
  margin: 2px;
  position: relative;
  width: 40px;
}

.fav-star-icon {
  background-color: rgba(190, 180, 126, 100);
  border: solid 2px #c72931;
  bottom: 404px;
  height: 40px;
  left: 63%;
  margin: 2px;
  position: relative;
  width: 40px;
}
>>>>>>> master
