.header {
  margin-bottom: 5rem;
}

.fa-sign-out-alt,
.fa-sign-in-alt {
  color: #0496a0;
  font-size: 1.5em;
  display: block;
  text-align: right;
  padding: 2em;
}

.fa-sign-out-alt:hover,
.fa-sign-in-alt:hover {
  color: #fff;
  cursor: pointer;
}

.app-title {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ecf0ef),
    to(#066168)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 7em;
  font-weight: 900;
  letter-spacing: 5px;
  position: relative;
  text-transform: uppercase;
  text-shadow: 6px 0 #01838c;
  border-bottom: #01838c double;
}

.app-title::before {
  background-position: -180px;
  -webkit-animation: flare 5s infinite;
  animation: flare 5s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background-image: linear-gradient(
    65deg,
    transparent 20%,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.3) 27%,
    transparent 27%,
    transparent 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  content: "MovieTracker";
  color: #fff;
  display: block;
  padding-right: 140px;
  position: absolute;
}

.sparkle::after,
.sparkle::before {
  -webkit-animation: sparkle 5s infinite;
  animation: sparkle 5s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff,
    0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
  content: "";
  display: block;
  height: 10px;
  opacity: 0.7;
  position: absolute;
  width: 10px;
}

.sparkle::before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  height: 7px;
  left: 0.1em;
  top: 0.9em;
  width: 7px;
}

.sparkle::after {
  top: 0.32em;
  right: 0px;
}

@-webkit-keyframes flare {
  0% {
    background-position: -180px;
  }
  30% {
    background-position: 700px;
  }
  100% {
    background-position: 700px;
  }
}

@keyframes flare {
  0% {
    background-position: -180px;
  }
  30% {
    background-position: 700px;
  }
  100% {
    background-position: 700px;
  }
}

@-webkit-keyframes sparkle {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sparkle {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1050px) {
  .app-title {
    font-size: 6.5em;
  }
}

@media (max-width: 975px) {
  .app-title {
    font-size: 5.75em;
    text-shadow: 5px 0 #01838c;
  }
}

@media (max-width: 875px) {
  .app-title {
    font-size: 5em;
  }
}

@media (max-width: 775px) {
  .app-title {
    font-size: 4em;
    text-shadow: 4px 0 #01838c;
  }
}

@media (max-width: 675px) {
  .app-title {
    font-size: 3.5em;
    text-shadow: 3px 0 #01838c;
  }

  .header {
    margin-bottom: 2rem;
  }
}

@media (max-width: 575px) {
  .app-title {
    font-size: 3em;
    text-shadow: 3px 0 #01838c;
  }
}

@media (max-width: 475px) {
  .app-title {
    font-size: 2em;
  }

  .header {
    margin-bottom: 1rem;
  }
}
