.header {
  margin-bottom: 5rem;
}

.fa-sign-out-alt {
  color: #0496a0;
  font-size: 1.5em;
  display: block;
  margin-left: 70rem;
  padding-top: 1em;
}

.app-title
{
  background: -webkit-gradient(linear, left top, left bottom, from(#ECF0EF), to(#066168));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 7em;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 6px 0 #01838c;
}

.app-title::before
{
  -webkit-animation: flare 5s infinite;
  -webkit-animation-timing-function: linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sparkle::after, .sparkle::before
{
  -webkit-animation: sparkle 5s infinite;
  -webkit-animation-timing-function: linear;
  background: #FFF;
  border-radius: 100%;
  box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFF, 0 0 25px #FFF, 0 0 30px #FFF, 0 0 35px #FFF;
  content: "";
  display: block;
  height: 10px;
  opacity: 0.7;
  position: absolute;
  width: 10px;
}

.sparkle::before
{
  -webkit-animation-delay: 0.2s;
  height: 7px;
  left: 0.10em;
  top: 0.9em;
  width: 7px;
}

.sparkle::after
{
  top: 0.32em;
  right: -5px;
}

@-webkit-keyframes flare
{
  0%   { background-position: -180px; }
  30%  { background-position: 700px; }
  100% { background-position: 700px; }
}

@-webkit-keyframes sparkle
{
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  40%  { opacity: 0.8; }
  60%  { opacity: 0; }
  100% { opacity: 0; }
}