.form-wrapper {
  height: 100vh;
  background: #000;
}

.form-input {
  height: 1.5em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
}

.user-login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-around;
  padding-bottom: 50px;
  flex-direction: column;
  width: 75%;
  margin: 4rem auto;
  background: #000;
  font-family: 'Lato', sans-serif;
}

.user-email-login,
.user-password-login,
.login-button {
  border-radius: 14px;
  font-size: 1.5em;
}

.user-email-login {
  margin-top: 30px;
}

.user-email-login,
.user-password-login {
  height: 40px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  width: 30rem;
}

.login-button {
  background-color: #beb47e;
  font-weight: bold;
  height: 58px;
  margin-bottom: 30px;
  width: 31.75rem;
}

.user-signup-link {
  font-size: 1.5em;
}

@media (max-width: 590px) {
  .user-email-login,
  .user-password-login {
    font-size: 1em;
    height: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    width: 85%;
  }

  .login-button {
    font-size: 1em;
    height: 48px;
    width: 86.75%;
  }

  .user-login-form {
    margin: 3rem auto;
    width: 85%;
  }
}

@media (max-width: 450px) {
  .user-login-form {
    margin: 2rem auto;
  }
}

@media (max-width: 320px) {
  .user-login-form {
    margin: 1rem auto;
  }
}